{
    "plugins": [
      "stylelint-prettier"
    ],
    "extends": [
      "stylelint-config-standard",
      "stylelint-prettier/recommended"
    ],
    "rules": {
      "at-rule-no-unknown": [
        true,
        {
          "ignoreAtRules": [
            "extends",
            "apply",
            "tailwind",
            "components",
            "utilities",
            "screen",
            "layer"
          ]
        }
      ],
      "font-weight-notation": "numeric"
    }
  }
