@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --font-mono: "Iosevka";
}

@layer base {
  input:focus {
    outline: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@utility text-2xs {
  font-size: 0.65rem;
  line-height: var(--tw-leading, 1rem);
}
